.wrapper{

  .body-profile {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
  
    .img-profile {
      border-radius: 5px 5px 0px 0px;
      height: 100px;
    }
  
    .profile-info {
      width: 90%;
      margin-left: 5%;
      margin-top: -8%;
  
      .avatar-profile {
        background: #fff;
        padding: 20px 0px 0px 0px;
  
        .avatar-border {
          height: 100px;
          width: 100px;
          border: 1px solid #dee2e6;
          border-radius: 0.55rem;
        }
      }
  
      .profile-name {
        font-size: 20px;
        color: #0061c1;
      }
  
      .title-profile {
        display: flex;
        border: 1px solid #6d7beb;
        font-size: 14px;
        color: #ffffff;
        padding-left: 15px;
        padding-right: 20px;
        background: #4f5484;
        box-shadow: none;
        border-radius: 30px;
        width: 120px;
      }
  
      .keyword-profile {
        display: flex-wrap;
      }
  
      .item-makerting {
        margin: 3px;
        border: 1px solid #c5c6cd;
        font-size: 12px;
        color: #fff;
        padding: 2px 5px 2px 10px;
        background: #0061c1;
        border-radius: 30px;
      }
  
      .item-keyword{
        margin: 3px;
        border: 1px solid #c5c6cd;
        font-size: 10px;
        color: #0061c1;
        padding: 2px 5px 2px 5px;
        background: #b9c7d5;
        border-radius: 30px;
      }
  
      .item-label{
        font-size: 14px;
        color: #495057;
      }
  
      .label-title{
        color: #495057;
      }
      .chart-content{
        .recharts-cartesian-grid-vertical{
          opacity: 0;
        }
      }
  
      .title-employee{
        margin: auto;
        color: #0061c1;
        font-size: 15px;
      }
      .title-position{
        margin: auto;
        color: #61686f;
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  .chart-colum{
    .recharts-cartesian-grid-vertical{
      opacity: 0;
    }
    .recharts-default-legend{
      opacity: 0;
    }
  }
  .btn-drd{
    color: #0061c1;
    background-color: #ffffff;
    border: 1px solid #dee2e6;

    :after{
      color: #000000;
    }
  }
  .btn-industry{
    color: #39C65E;
  }
  .btn-drd::after{
      color: #61686f;
  }
  .competitive-growth{
    .recharts-legend-item{
      opacity: 0;
    }
  }

  .tags-input{
    padding: 0px 10px 15px;
    .ReactTags__selected{
      display: flex;
      flex-wrap: wrap;

      .ReactTags__tag{
        margin: 3px;
        border: 1px solid #c5c6cd;
        font-size: 13px;
        color: #0061c1;
        padding: 2px 5px 2px 10px;
        background: #fff;
        border-radius: 30px;
      }
      .ReactTags__remove{
        padding: 0px 5px;
      }

      .ReactTags__tagInput{
        margin: 3px;
        border: 1px solid #c5c6cd;
        font-size: 13px;
        color: #0061c1;
        padding: 2px 5px 2px 5px;
        background: #fff;
        border-radius: 30px;
      }
    }
  }
}
