@import '../../styles/settings/variable.scss';


.container-full {
  height: 100%;
  .content-container {
    // padding-top: 80px;
    height: 100%;
    background-color: $color-background;

    .container__wrap {
      padding-left: 0;
      // padding-top: 67px;
      min-height: 100%;
      transition: padding-left 0.3s;
      background-color: $color-background;

      @media screen and (min-width: 576px) {
        padding-left: 240px;
      }
    }
  }
  .content-logo{
    color: #495057;
  }
}
